* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    overflow-x: hidden;
    
}
html, body {
    background: #121617;
    
}
.header_container {
    width: 100%;
    padding: 16px 0;
}

.header_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.header_right {
    display: flex;
    align-items: center;
    
}

.header_right .nav-links li {
    display: inline-flex;
}

.header_right .nav-links li a {
    font-size: 16px;
    font-weight: 400;
    color: #35414B;
    text-decoration: none;
    margin: 0 48px;
    color: #fff;
    position: relative;
    
}
.header_right i{
    display: none;
    color: #fff;
    cursor: pointer;
}


.header_right button {
    background: #F4511F;
    border-radius: 4px;
    padding: 10px 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.eat_content {
    display: flex ;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.discribe {
    margin-left: 100px;
}

.discribe h5 {
    font-size: 16px;
    font-weight: 400;
}
.discribe h1 {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 35px;
    
}

.discribe p {
    width: 411px;
    margin-bottom: 34px;
    
}

.discribe button {
    background: #F4511F;
    border-radius: 8px;
    padding: 15px 28px;
    border:none;
    color: #fff;
    cursor: pointer;
}
    
#animat {
    animation: rotation 9.5s infinite linear;
}


@keyframes rotation {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.discribe h5 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;  
    margin-top: 100px;
}


/*starting body container*/
.body_container {
    margin-top: 150px;
}

.body_title {
    text-align: center;
    margin-bottom: 20px;
}

.body_title h1 {
    font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
text-align: center;
color: #FFFFFF;
margin-bottom: 8px;

}

.body_services {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.body_1 {
    padding: 20px;
}

.body_1 h3 {
    font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
margin-top: 10px;
}

.body_1 {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #DAD8D7;
}

.about_container {
    padding: 110px;
}
.about_content {
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.about_us h1 {
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
color: #FFFFFF;
margin-bottom: 48px;
}

.about_us p {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #DAD8D7;
margin-bottom: 35px;
}

.about_us button {
    padding: 15px 21px;
    background: #F4511F;
    border-radius: 8px;
    border: none;
    color: #fff;
}

.menu_premium {
    margin-top: 72px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
}

.menu_title h1 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #fff;
}

.menu_premium h3 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.fast_food {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #DAD8D7;
    margin-bottom: 12px;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.sale_container {
    padding: 230px;
}

.sale_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.sale_title h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.sale_title button {
    margin-top: 30px;
    padding: 16px 24px;
    background: #F4511F;
    border-radius: 8px;
    color: #fff;
    border: none;
}

.title_arrivals h1 {
    padding: 100px;
    font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
text-align: center;
color: #FFFFFF;

}
.menu_classic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.cheeseburger {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

}

.prices {
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
}

.p2199 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #F4511F;
}

.new {
    color: #FFFFFF;
    transform: translate(-52px, 9px);
    /* text-align: left; */
    background: #F4511F;
    border-radius: 4px;
    position: absolute;
    padding: 6px;
}

.regulars {
    background: #F4511F;
    border-radius: 4px;
    position: absolute;
    padding: 6px;
    transform: translate(100px, 10px);
}



@media (max-width: 800px) {
    .header_container {
    padding-top: 1rem;
    margin: 0;
}
.header_right .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: 225px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.4s ease all;
    z-index: 10;
}
.header_right .nav-links.active {
    transform: translateX(0%);
}
.header_right i {
    display: block;
    color: #fff;
}
.header_right .nav-links li a{
    color:#000
}

.eat_content {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 100px;
}



.header_l {
    margin-top: 3rem;
}

.body_services {
    display: flex;
    flex-direction: column-reverse;
}

.about_content {
    display: flex;
    flex-direction: column;
}

.menu_premium {
    display: flex;
    flex-direction: column-reverse;
}

.sale_content {
    display: flex;
    flex-direction: column;
}

.sale_title button {
    width: 131px;
}

.sale_title h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.menu {
    padding: 22px 0px;
}

.menu_classic {
    display: flex;
    flex-direction: column-reverse;
}

.classic {
    padding: 50px 0px;
    margin-top: 5px;
}

img#animat {
    inline-size: 90%;
    margin-left: 48px;
}

.discribe button { 
    margin-bottom: 70px;
}

.body_1 h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 18px;
}

.body_1 p {
    margin-top: 15px;
    font-size: 18px;
}

.about_us {
    text-align: center;
}
.about_us h1 {
    margin-bottom: 10px;
}
}